section {
  padding-top: 6.25rem;
  padding-bottom: 7.5rem; }

.hero {
  color: #ffffff; }

body section h2 {
  font-size: 2.1rem;
  font-weight: bold;
  letter-spacing: .8px; }

.lead {
  line-height: 2; }

.services {
  color: #ffffff; }
  .services-head:after {
    background: #DAFFF0; }
  .services .callout {
    color: #ffffff; }
  .services .subheader {
    color: #ffffff;
    letter-spacing: 0.5px;
    font-weight: 500; }
  .services li {
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: .6px;
    border: none; }

.ceo h3 {
  font-size: 2.1rem;
  font-weight: bold;
  letter-spacing: .8px; }

.ceo h4 {
  font-size: 1rem; }

.ceo p {
  font-size: 1rem; }

.team h3 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .5px;
  margin-top: 10px;
  margin-bottom: 2px; }

.team h4 {
  font-size: .875rem;
  color: #9B9B9B;
  padding-top: 2px; }

.testimonials {
  color: #ffffff; }
  .testimonials h3 {
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: bold;
    margin-bottom: 2px; }
  .testimonials h4 {
    font-size: .75rem;
    margin-bottom: 15px; }
  .testimonials p {
    font-size: 1rem; }

.contact-us h3 {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 30%; }

.contact-us p {
  font-size: 1rem; }

.footer ul {
  font-weight: bold; }

.footer a {
  color: #666666; }

.footer p {
  text-align: center;
  color: #9B9B9B;
  font-size: .75rem; }

.footer .button {
  color: #ffffff;
  font-weight: bold; }

.photo-gallery {
  margin-top: 104px !important;
  margin-bottom: -7.5rem !important; }

body .services {
  background: #0A8255; }
  body .services .callout {
    text-align: center;
    background: #0A8255; }
    body .services .callout ul {
      list-style: none;
      margin-left: 0; }
      body .services .callout ul li:not(:last-child) {
        border-bottom: 1px solid rgba(218, 255, 240, 0.18);
        padding: 5px; }
    body .services .callout .button {
      color: #0A8255;
      background: #DAFFF0;
      padding: 5px 10px;
      line-height: 1.1;
      font-size: 0.75rem; }
  body .services .service-icon {
    padding-bottom: .625rem; }
  body .services .service-blurb {
    text-align: left; }

.ceo {
  background: rgba(151, 151, 151, 0.08);
  padding: 0; }
  .ceo .cell {
    padding: 0; }
  .ceo-image {
    width: 100%;
    height: 100%; }
  .ceo-text {
    background: url(../../assets/icons/quotes.svg) no-repeat left;
    padding-left: 17%;
    padding-top: 20%;
    margin-left: 3%;
    margin-right: 15%;
    margin-bottom: 15%; }

.team-lead {
  padding-bottom: 64px; }

.team-icon {
  width: 1.125rem;
  height: 1.125rem; }

.team-pictures {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.team-title {
  display: flex;
  justify-content: space-between; }

.testimonials {
  background: #0A8255;
  padding-top: 3rem; }
  .testimonials-box {
    background: url(../../assets/icons/quotes2.svg) no-repeat left; }
  .testimonials-text {
    padding-left: 68px;
    padding-top: 73px; }

.contact-us {
  background: url(../../assets/map.jpg) center; }
  .contact-us-icon-phone {
    background: url(../../assets/icons/phone2.svg) no-repeat left; }
  .contact-us-icon-email {
    background: url(../../assets/icons/email2.svg) no-repeat left; }
  .contact-us-icon-pin {
    background: url(../../assets/icons/pin2.svg) no-repeat; }
  .contact-us-pin {
    width: 40.57px;
    height: 60px;
    position: relative;
    left: 340px;
    top: 105px; }
  .contact-us-form {
    padding-top: 80px; }
  .contact-us input {
    border: 1px solid #666666; }
  .contact-us textarea {
    height: 12rem;
    border: 1px solid #666666; }

.contact-info-grid {
  display: grid;
  padding-top: 87.5px;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 1.5rem;
  grid-column-gap: 60px; }
  .contact-info-grid-content {
    width: 197px; }
  .contact-info-grid-1 {
    grid-column: 1 / 1;
    grid-row: 1; }
  .contact-info-grid-2 {
    grid-column: 1 / 1;
    grid-row: 2; }
  .contact-info-grid-3 {
    grid-column: 1 / 1;
    grid-row: 3; }
  .contact-info-grid-4 {
    grid-column: 2 / 2;
    grid-row: 1; }
  .contact-info-grid-5 {
    grid-column: 2 / 2;
    grid-row: 2; }
  .contact-info-grid-6 {
    grid-column: 2 / 2;
    grid-row: 3; }

.footer {
  padding-top: 40px;
  background: rgba(151, 151, 151, 0.08); }
  .footer-logo {
    width: 50px;
    height: 67.94px; }
  .footer-button {
    padding: 0.7rem 2.5rem !important;
    border-radius: 23px; }
  .footer hr {
    width: 100%;
    height: 1px;
    color: #9B9B9B; }
  .footer ul {
    list-style: none;
    padding-top: 20px;
    padding-left: 30px; }
  .footer-buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px; }
  .footer-social {
    margin-right: 50px;
    padding-top: 6px; }
