section {
  padding-top: 6.25rem;
  padding-bottom: 7.5rem; }

@media screen and (max-width: 63.9375em) {
  section {
    padding-top: 5.25rem;
    padding-bottom: 6.5rem;
    padding-left: 1rem;
    padding-right: 1rem; } }

.hero {
  color: #ffffff; }

body section h2 {
  font-weight: bold; }

.services {
  color: #ffffff; }
  .services-head:after {
    background: #DAFFF0; }
  .services .callout {
    color: #ffffff; }
  .services .subheader {
    color: #ffffff;
    font-weight: 500; }
  .services li {
    font-size: 0.7rem;
    font-weight: 500;
    border: none;
    text-transform: uppercase; }

.ceo h3 {
  font-weight: bold; }

.ceo h6 {
  font-weight: 400; }

.team h6 {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 2px; }

.team p {
  padding-top: 2px; }

.team-title {
  color: #9B9B9B; }

.testimonials {
  color: #ffffff; }
  .testimonials h3, .testimonials h6 {
    font-weight: bold;
    margin-bottom: 2px; }

.contact-us h6 {
  font-weight: bold;
  padding-left: 30%; }

.contact-us p {
  margin-bottom: 0px; }

.footer ul {
  font-weight: bold; }

.footer a {
  color: #666666; }

.footer p {
  text-align: center;
  color: #9B9B9B;
  margin-bottom: 0; }

.footer .button {
  color: #ffffff;
  font-weight: bold; }

@media screen and (min-width: 40em) {
  .icon:link, .icon:visited,
  .button:link,
  .button:visited {
    transition: .2s ease-in-out; }
    .icon:link:active, .icon:link:focus, .icon:visited:active, .icon:visited:focus,
    .button:link:active,
    .button:link:focus,
    .button:visited:active,
    .button:visited:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
  .icon:hover,
  .button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }
  .icon {
    transition: .2s ease-in-out;
    cursor: pointer; }
    .icon:active, .icon:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
  .footer-link:hover {
    transition: .2s ease-in-out;
    color: #0A8255; }
  .email:hover,
  .phone:hover,
  .location:hover,
  .employee:hover {
    color: #DAFFF0; } }

.hero {
  background-position: right; }

.about-photo-gallery {
  margin-top: 104px !important;
  margin-bottom: -7.5rem !important; }
  .about-photo-gallery-img {
    width: 100%; }

@media screen and (max-width: 63.9375em) {
  .about {
    padding-left: 0px;
    padding-right: 0px; }
    .about-text {
      padding-left: 1rem;
      padding-right: 1rem; } }

body .services {
  background: #0A8255; }
  body .services .callout {
    text-align: center;
    background: #0A8255;
    height: 100%;
    position: relative; }
    body .services .callout ul {
      list-style: none;
      margin-left: 0; }
      body .services .callout ul li {
        padding: 5px; }
        body .services .callout ul li:not(:last-child) {
          border-bottom: 1px solid rgba(218, 255, 240, 0.18); }
    body .services .callout .button {
      color: #0A8255;
      background-color: #DAFFF0;
      padding: 5px 10px;
      line-height: 1.1;
      font-size: 0.75rem;
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media screen and (min-width: 40em) {
        body .services .callout .button:hover {
          transform: translate(-50%, -50%) translateY(-3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); } }
      body .services .callout .button:active, body .services .callout .button:focus {
        outline: none;
        transform: translate(-50%, -50%) translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  body .services .service {
    margin-top: 32px; }
    body .services .service-icon {
      padding-bottom: .625rem;
      padding-top: 32px; }
    body .services .service-blurb {
      text-align: left; }
  @media screen and (max-width: 39.9375em) {
    body .services .service-blurb {
      text-align: center; } }

.ceo {
  background: rgba(151, 151, 151, 0.08);
  padding: 0; }
  .ceo .cell {
    padding: 0; }
  .ceo-image {
    width: 100%; }
  .ceo-text {
    background: url(../assets/icons/quotes.svg) no-repeat left;
    padding-left: 17%;
    padding-top: 20%;
    margin-left: 3%;
    margin-right: 15%;
    margin-bottom: 15%; }

.team-lead {
  padding-bottom: 64px; }

.team-icon {
  width: 1.125rem;
  height: 1.125rem; }

.team-pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .team-pictures-box {
    margin: auto; }

.team-title {
  display: flex;
  justify-content: space-between; }

.testimonials {
  background: #0A8255;
  padding-top: 3rem; }
  .testimonials-box {
    background: url(../assets/icons/quotes2.svg) no-repeat left; }
  .testimonials-text {
    padding-left: 68px;
    padding-top: 73px; }

.contact-us {
  background: url(../assets/map.jpg) center; }
  .contact-us-icon-phone {
    background: url(../assets/icons/phone2.svg) no-repeat left; }
  .contact-us-icon-email {
    background: url(../assets/icons/email2.svg) no-repeat left; }
  .contact-us-icon-pin {
    background: url(../assets/icons/pin2.svg) no-repeat; }
  .contact-us-pin {
    width: 40.57px;
    height: 60px;
    position: relative;
    left: 340px;
    top: 105px; }
  .contact-us-form {
    padding-top: 80px; }
  .contact-us textarea {
    height: 12rem; }

.contact-info-icon {
  margin: auto; }

.contact-info-grid {
  display: grid;
  padding-top: 87.5px;
  display: grid;
  grid-template-columns: 15% auto;
  grid-row-gap: 1.5rem;
  position: relative; }
  .contact-info-grid-content {
    width: 197px; }
  .contact-info-grid-1 {
    grid-column: 1 / 1;
    grid-row: 1; }
  .contact-info-grid-2 {
    grid-column: 1 / 1;
    grid-row: 2; }
  .contact-info-grid-3 {
    grid-column: 1 / 1;
    grid-row: 3; }
  .contact-info-grid-4 {
    grid-column: 2 / 2;
    grid-row: 1; }
  .contact-info-grid-5 {
    grid-column: 2 / 2;
    grid-row: 2; }
  .contact-info-grid-6 {
    grid-column: 2 / 2;
    grid-row: 3; }

.footer {
  padding-top: 40px;
  padding-bottom: 10px;
  background: rgba(151, 151, 151, 0.08); }
  .footer-logo {
    width: 50px;
    height: 67.94px; }
  .footer-button {
    padding: 0.7rem 2.5rem !important;
    border-radius: 23px; }
  .footer hr {
    width: 100%;
    height: 1px;
    color: #9B9B9B;
    margin-top: 40px;
    margin-bottom: 10px; }
  .footer ul {
    list-style: none;
    padding-top: 20px;
    padding-left: 30px; }
  .footer-buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px; }
  .footer-social {
    margin-right: 50px;
    padding-top: 6px; }
