body .services { 
    background: #0A8255;

    .callout {
        text-align: center;
        background: #0A8255;

        ul {
            list-style: none;
            margin-left: 0;

            li:not(:last-child) {
                border-bottom: 1px solid rgba(#DAFFF0, .18);
                padding: 5px;
                
            }

            // li::after {
            //     content: "";
            //     display: block;
            //     background: #DAFFF0;
            //     margin: 5px auto 5px; 
            //     width: 100%; 
            //     height: 1px;
            //     opacity: .18;
            // }
        }

        .button {
            color: #0A8255;
            background: #DAFFF0;
            padding: 5px 10px;
            line-height: 1.1;
            font-size: 0.75rem;
        }

    }

    .service {

        &-icon {
            padding-bottom: .625rem;
        }

        &-blurb {
            // font-size: .75rem;
            text-align: left;
        }
    }
    
}


