@media screen and (min-width: 40em) {
    .icon,
    .button {

        &:link,
        &:visited {
            transition: .2s ease-in-out;

            &:active,
            &:focus {
                outline: none;
                transform: translateY(-1px);
                // box-shadow: 0 5px 10px rgba(#000000,.1);
            }

        }

        &:hover {
            transform: translateY(-3px);
            // box-shadow: 0 10px 20px rgba(#000000,.1);
        }

    }

    .icon {
        transition: .2s ease-in-out;
        cursor: pointer;

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            // box-shadow: 0 5px 10px rgba(#000000,.1);
            }
    }

    .footer-link:hover {
        transition: .2s ease-in-out;
        color: #0A8255;
    }

    .email,
    .phone,
    .location,
    .employee {
        &:hover {
            color: #DAFFF0;
        }
    }

    .button-modal:hover {
        transform: translateY(0px);
    }
}

@mixin btn-border-drawing($color: #ffff, $hover: black, $width: px, $vertical: top, $horizontal: left, $duration: 0.25s) {
    // box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration $duration/3;
    position: relative;
    
    &::before,
    &::after {
      border: 0 solid transparent;
      box-sizing: border-box;
      content: '';
      pointer-events: none;
      position: absolute;
      width: 0; height: 0;
      
      #{$vertical}: 0; 
      #{$horizontal}: 0;
    }
  
    &::before {
      $h-side: if($horizontal == 'left', 'right', 'left');
      
      border-#{$vertical}-width: $width;
      border-#{$h-side}-width: $width;
    }
    
    &::after {
      $v-side: if($vertical == 'top', 'bottom', 'top');
      
      border-#{$v-side}-width: $width;
      border-#{$horizontal}-width: $width;
    }
    
    &:hover {
      color: $hover;
      transform: translateY(0px);
      
      &::before,
      &::after {
        border-color: $hover;
        transition: border-color 0s, width $duration, height $duration;
        width: 100%;
        height: 100%;
      }
      
      &::before { transition-delay: 0s, 0s, $duration; }
      
      &::after { transition-delay: 0s, $duration, 0s; }
    }
  }
  
  .draw-border {
    @include btn-border-drawing(white, #DAFFF0, 1px, bottom, right);
  }

  .draw-border-secondary {
    @include btn-border-drawing(white, #0A8255, 1px, bottom, right);
  }
