.hero {
    color: #ffffff;
}

body section h2 { 
    // font-size: 2.1rem; 
    font-weight: bold;
    // letter-spacing: .8px;  
}

.lead {
    // line-height: 2;
}

.services {
    color: #ffffff;

    &-head:after {
        background:#DAFFF0;
        }
    
    .callout {
        color: #ffffff;

        // .button {
        //     color: #0A8255;
        //     background: #DAFFF0 url(../assets/icons/arrow.svg) no-repeat 0.5rem right;
        // }
    }
    
    .subheader {
        color: #ffffff;
        // line-height: 2.2;
        // letter-spacing: 0.5px;
        font-weight: 500;
    }

    li {
        font-size: 0.7rem;
        font-weight: 500;
        // letter-spacing: .6px;
        border: none;
        text-transform: uppercase;
    }

}

.ceo {
    h3 {
        font-weight: bold;
        // font-size: 2.1rem; 
        // letter-spacing: .8px;
    }
    h6 {
        font-weight: 400;
    }
    p {
        // font-size: 1rem;
    }
}

.team {
    h6 {
        // font-size: 1rem;
        font-weight: 500;
        // letter-spacing: .5px;
        margin-top: 10px;
        margin-bottom: 2px;
    }
    p {
        // font-size: .875rem;
        // color: #9B9B9B;
        padding-top: 2px;
    }
    &-title {
        color: #9B9B9B;
    }
}

.testimonials {
    color: #ffffff;
    h3, h6 {
        // font-size: 1rem;
        // letter-spacing: .5px;
        font-weight: bold;
        margin-bottom: 2px;
    }
    // h4 {
    //     // font-size: .75rem;
    //     margin-bottom: 15px;
    // }
    p {
        // font-size: 1rem;
    }
}

.contact-us {
    h6 {
        // font-size: 1rem;
        font-weight: bold;
        padding-left: 30%;
    }

    p {
        margin-bottom: 0px;
    }

}

.footer {
    ul {
        font-weight: bold;
    }

    a {
        color: #666666;
    }

    p {
        text-align: center;
        color: #9B9B9B;
        margin-bottom: 0;
        // font-size: .75rem;
        
    }

    .button {
        color: #ffffff;
        font-weight: bold;
    }
}